<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Second suite">
		<listeners>
		<listener class-name="javaUtility.MyListeners"></listener>
	</listeners>

<test name="My second test">
	
<classes>
	

<class name="cucumberSalesforceTest.StepDefinitionforLogin"></class>	
	
</classes>	
	
</test>	

</suite>